# Data type 

 A Category of data is called  "DATA TYPE"
 
    Basic Data type 
    Data: Numbers >>> Numeric 
      integers, decimals,  >>>>
      
      Characters>>>>String>>> it always quoted
      Boolean >> True, False >>>>0 ,1

What is variable??

Variable >>> placeholder

In [1]:
name = "afshan"
print(name)

afshan

In [2]:
age = 20 
print(age)

20

In [3]:
student_name = 'afshan'
print(student_name)

afshan

In [4]:
first_name = "afshan"
last_name = "irfan"
print(first_name, last_name )

afshan irfan

In [5]:
age = 20
age = age + 5 
print(age)

25

# Math expressions: Familiar operators

+ (add), - (subtract), * (multiply), and / (divide).

In [6]:
2 + 4

6

In [10]:
6 / 2 #by default division is floating point

3.0

In [8]:
6 // 2    # double slash convert it into int

3.0

In [11]:
2 + 3.4

5.4

# Math expressions: Unfamiliar operators

In [14]:
45 % 10    # modulo operator returns remainder of the division

5

In [15]:
10 % 3

1

In [16]:
3 % 10

3

In [19]:
for number in range(1, 10): #the modulo operator to print all odd numbers between 0 and 10.
    if(number % 2 != 0):
        print(number)

1
3
5
7
9

In [10]:
for num in range(1, 12):
    if(num % 2 !=1):
        print(num)

2
4
6
8
10

In [13]:
age = 20
age += 1
print(age)

21

In [15]:
round(10/3)

3

In [17]:
10/3

3.3333333333333335

In [18]:
res = 1/2*5+4/2
print(res)

4.5

In [20]:
res1 = 10/2*3/3
print(res1)

5.0

In [21]:
res2 = 10/2**3/3
print(res2)

0.4166666666666667

In [22]:
2**3     # solution

8

In [23]:
10/8

1.25

In [24]:
1.25/3

0.4166666666666667

In [26]:
first_num = 12
second_num = 11.5
sum_of_numbers = first_num + second_num
print(sum_of_numbers)

23.5

In [27]:
total_cost = 1 + 3 *4
total_cost

13

In [29]:
res = (4 * 4) * 4 + 4
print(res)

68

In [34]:
"afshan".upper()

'AFSHAN'

In [35]:
"AFSHAN".lower()

'afshan'

In [36]:
"afshan".title()

'Afshan'

In [37]:
" afshan ".strip() #remove the space

'afshan'

In [40]:
"afshan".replace("a", "b") # replave a with b

'bfshbn'

In [42]:
x = "apple "
y = 100
x+str(y)

'apple 100'

In [44]:
name = input("Enter yr name: ")
age = int(input("Enter yr age: "))

inter yr name: afshan
inter yr age: 20

In [48]:
print("your name is "+ name + " and your age is "+ str(age))

your name is afshan and your age is 20

In [50]:
print("your name is {} and yr age is {}".format(name,age))

your name is afshan and yr age is 20

In [51]:
print(f"your name is {name} and your age is {age}")

your name is afshan and your age is 20