

# List

In [1]:
student_name = ["afshan", "muzammil", "ahmed", "sadiq", "taha", "fahad"]
        #          0        1           2       3        4         5

In [3]:
print(student_name)

['afshan', 'muzammil', 'ahmed', 'sadiq', 'taha', 'fahad']

In [7]:
student_name [3]

'sadiq'

In [10]:
student_name [2], student_name[0], student_name [5]

('ahmed', 'afshan', 'fahad')

In [34]:
list_one = ["Pakistan", 2020, 10.5, True, [1, 6, 5, 7, 9] ]
print(list_one)

['Pakistan', 2020, 10.5, True, [1, 6, 5, 7, 9]]

In [35]:
list_one.append(100)
print(list_one)

['Pakistan', 2020, 10.5, True, [1, 6, 5, 7, 9], 100]

In [36]:
list_one.insert(2, "afshan ")
print(list_one)

['Pakistan', 2020, 'afshan ', 10.5, True, [1, 6, 5, 7, 9], 100]

In [37]:
list_one.insert(0, "start")

In [38]:
print(list_one)

['start', 'Pakistan', 2020, 'afshan ', 10.5, True, [1, 6, 5, 7, 9], 100]

In [33]:
list_one.clear()
print(list_one)

[]

In [39]:
list_two = list_one.copy()
print(list_two)

['start', 'Pakistan', 2020, 'afshan ', 10.5, True, [1, 6, 5, 7, 9], 100]

In [40]:
list_one

['start', 'Pakistan', 2020, 'afshan ', 10.5, True, [1, 6, 5, 7, 9], 100]

In [42]:
list_two

['start', 'Pakistan', 2020, 'afshan ', 10.5, True, [1, 6, 5, 7, 9], 100]

In [43]:
list_two[5]= False
list_two

['start', 'Pakistan', 2020, 'afshan ', 10.5, False, [1, 6, 5, 7, 9], 100]

In [50]:
print(list_two)

['start', 'Pakistan', 2020, 'afshan ', 10.5, False, [1, 6, 5, 7, 9], 100]

In [59]:
list_two.count("true")

0

In [60]:
list_two.insert(list_two.index(10.5), 1000)

In [61]:
print(list_two)

['start', 'Pakistan', 2020, 'afshan ', 1000, 10.5, False, [1, 6, 5, 7, 9], 100]

In [64]:
list_two.extend([22, 33, 44])

In [65]:
list_two

['start',
 'Pakistan',
 2020,
 'afshan ',
 1000,
 10.5,
 False,
 [1, 6, 5, 7, 9],
 100,
 22,
 33,
 44]

In [66]:
print(list_two)

['start', 'Pakistan', 2020, 'afshan ', 1000, 10.5, False, [1, 6, 5, 7, 9], 100, 22, 33, 44]

In [73]:
list_two.extend([10, 20, 30])

In [111]:
x = [1, 3, 5, 7, 9]
y = [2, 4, 6, 8, 10]
z = x + y

In [112]:
z

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [113]:
x.pop() # pop use to remove last element

9

In [114]:
x

[1, 3, 5, 7]

In [115]:
z

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [116]:
z.pop()

10

In [117]:
z

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [118]:
z.pop(1)

3

In [119]:
z

[1, 5, 7, 9, 2, 4, 6, 8]

In [1]:
country_1 = "Australia"
country_2 = "Brazil"
country_3 = "Canada"
country_4 = "China"
country_5 = "Germany"
country_6 = "Iceland"
country_7 = "Japan"
country_8 = "Malaysia"

In [5]:
print("welcome to " + country_1)

welcome to Australia

In [6]:
print(f"welcome to {country_1}")

welcome to Australia

In [8]:
country = ["pakistan", "australia", "brazil", "canada", "china", "iceland"]
print(country)

['pakistan', 'australia', 'brazil', 'canada', 'china', 'iceland']

In [9]:
print("welcome to " +country[5])

welcome to iceland

In [10]:
print(country)

['pakistan', 'australia', 'brazil', 'canada', 'china', 'iceland']

In [11]:
country.append("mexico")

In [12]:
print(country)

['pakistan', 'australia', 'brazil', 'canada', 'china', 'iceland', 'mexico']

In [13]:
country = country+["new zealand", "korea"]
print(country)

['pakistan', 'australia', 'brazil', 'canada', 'china', 'iceland', 'mexico', 'new zealand', 'korea']

In [14]:
country.insert(0, "russia")
print(country)

['russia', 'pakistan', 'australia', 'brazil', 'canada', 'china', 'iceland', 'mexico', 'new zealand', 'korea']

# slicing

In [14]:
new_list = [11, 12, 13, 14, 15, 16, 17, 18]
print(new_list)

[11, 12, 13, 14, 15, 16, 17, 18]

In [15]:
new_list [2 : 6]

[13, 14, 15, 16]

In [16]:
new_list [1 : 8]

[12, 13, 14, 15, 16, 17, 18]

In [17]:
new_list [2 : ]

[13, 14, 15, 16, 17, 18]

In [18]:
new_list [ : 5]

[11, 12, 13, 14, 15]

In [19]:
print(new_list)
new_list [-1]

[11, 12, 13, 14, 15, 16, 17, 18]

18

In [20]:
new_list [1: 8: 2]

[12, 14, 16, 18]

In [21]:
new_list [0: 8: 2]

[11, 13, 15, 17]

In [24]:
new_list [0: 5: 3]

[11, 14]

In [27]:
new_list [-1: -8: -2]

[18, 16, 14, 12]

# tuples:
    the tuple elements are fixed. They can't be changed—unless you redefine the whole tuple

In [34]:
my_tup = [1, 2, 3, 4, 5, 6, 7, 8, 9]
my_tup

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
my_tup.pop()

9

In [32]:
tup2 = (1, 2, 3, 4, 5, 6, 7, 8, 9) # its not a tuple
tup2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [36]:
my_tup[0] = 10
my_tup

[10, 2, 3, 4, 5, 6, 7, 8]

In [37]:
my_tup[1] = 100

In [38]:
my_tup

[10, 100, 3, 4, 5, 6, 7, 8]

In [39]:
my_tup[0:5]

[10, 100, 3, 4, 5]

In [40]:
tup2[1] == tup2[1: 2]

False

In [41]:
my_tup[1] == my_tup[1: 2]

False

In [1]:
list1 = list(range(1, 11))

In [2]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
list1[9]

10

In [11]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])
print(list1[5])
print(list1[6])
print(list1[7])
print(list1[8])
print(list1[9])

1
2
3
4
5
6
7
8
9
10

In [12]:
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in list1:
    if i == 5:
        break
    else:
        print(i)

1
2
3
4

In [23]:
for i in list1:
    if i !=4 and i !=5 and i !=6: # print i except 5, 5 and 6
        print(i)

1
2
3
7
8
9
10

In [24]:
list2 = list(range(2, 21, 2))

In [25]:
list2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [26]:
list2 = list(range(20, 0, -1))

In [27]:
list2

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
name = input("Enter yr name: ")
name == "afshan"

Enter yr name: afshan

True